// new jaornal scss start rohit
.journal-cal-list {
  border: 1px solid #ebe9f1;
  height: 100%;
  overflow-y: scroll;
  width: 45%;
  display: inline-block;
}

.jaornal-text {
  border: 1px solid #ebe9f1;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 20px;
  width: 55%;
}
li.pdd-1.list-group-item {
  margin-right: 15px;
}
.d-flex.jour-1 {
  margin-top: 15px;
  border: 1px solid #ebe9f1;
  padding: 8px;
  border-radius: 4px;
  height: 90px !important;
    overflow: hidden;
}
.d-flex.jour-1:hover {
  background-color: #174ae7;
  h5 {
    color: #fff;
  }
  p {
    color: #fff;
  }
  h2 {
    color: #fff;
  }
  h1 {
    color: #fff;
  }
}

.jour-lf {
  width: 50px;
  height: 60px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ebe9f1;
  border-radius: 4px;
  margin-right: 10px;
  p {
    margin: 0px;
    color: #174ae7;
  }
  h2 {
    margin: 0px;
    font-size: 16px;
    color: #174ae7;
  }
  h1 {
    margin: 0px;
    font-size: 16px;
    color: #174ae7;
  }
}
.jour-lf.active {
  background-color: gray;
  width: 50px !important;
  height: 60px !important;
  text-align: center;
  padding: 5px;
  border: 1px solid #ebe9f1;
  border-radius: 4px;
  margin-right: 10px;
  h1 {
    color: #fff;
  }
}
.jour-md {
  width: 360px;
  overflow: hidden;
  margin: 10px;
  h5 {
    margin: 0px;
    font-size: 14px;
  }
  p {
    font-size: 12px;
    margin-bottom: 2px;
    line-height: 15px;
  }
}
.sidebar-content.task-sidebar.journal {
  // height: 540px;
  height: 100%;
  // overflow-y: scroll;
  // border-right: 1px solid#cccccc8f;
}

img.app-img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
}
.btn-st-r {
  text-align: right;
  margin-top: 40px;
}
// scroll css start

::-webkit-scrollbar {
  width: 7px;
}

//Track /
::-webkit-scrollbar-track {
  background: #dcd7d7;
}

//  Handle
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 100px;
}

// scroll css close

span.right-side {
  float: right;
  margin-top: -10px;
}
p.mm-1 {
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
}

[dir] .list-group-item {
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: none !important;
}
[dir] .jour-md p {
  margin-bottom: 6px;
}
// New jaornal scss rohit close

.list-item.active span {
  color: #4e75ed;
}
[dir] .list-group-item.active {
  background-color: #fff;
}
[dir] .rounded-pill {
  border-radius: 50rem;
  background: none;
  color: #9f9da8;
}
span.badge.bg-secondary.rounded-pill {
  background: #ffff !important;
  background: rgba(23, 74, 231, 0.12) !important;
  color: #174ae7;
  width: 24px;
  height: 20px;
  text-align: center;
}

// 30/01/2023

button.waves-effect.btn-icon.me-1.btn.btn-outline-primary {
  padding: 6px;
  margin-top: -5px;
}
button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active {
  background: #174ae7 !important;
  border-color: #174ae7 !important;
}
span.stt-rs {
  float: right;
  margin-top: -6px;
}
.tasks-border .tasks-area .workspace-title .btn-icon {
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.cus-container {
  margin: 0 20px;
  width: 90%;
}
// button.btn.btn-secondary {
//   background: #fff !important;
//   color: black !important;
//   border-color: #174ae7 !important;
//   padding: 7px 5px;
// }
.null.set-collapse {
  margin-top: 23px;
  position: relative;
  left: 15px;
  height: 36px;
  position: absolute;
}
select.rtt-slt.form-select {
  width: 82%;
  margin: 0 auto;
}
p.customhmlyext {
  height: 30px;
}
span.stt-rs {
  visibility: hidden;
}
.sidebar-content.task-sidebar.journal:hover {
  span.stt-rs {
    visibility: visible;
  }
}





// 01/04/2023 css new css 
// rss hight class
.joru-side-height {
  height: 75vh;
  margin-top: 22px;
  border-right: 1px solid rgba(128, 128, 128, 0.37);
}
.joru-side-height::-webkit-scrollbar {
  width: 0px;
}
.cus-child-container::-webkit-scrollbar {
  width: 0px;
}
.col-5.mt-2 {
  height: 75vh;
  overflow: auto;
}
.col-5.mt-2::-webkit-scrollbar {
  width: 0px;
}

.tasks-border .tasks-area .workspace-title {
  background-color: #fff;
  border-bottom: unset !important;
}

// @media (min-width: 1440px) and (max-width: 2560px) {
//   .joru-side-height {
//     height: 2560px !important;
//   }

//   .col-5.mt-2::-webkit-scrollbar {
//     height: 2560px;
//   }
// }

// new css 01/04/2023 close